.main {
    background-color: #000000 ;
    height: 100%;
  };
 .row{
    height: 1000px;
  }
.midbar
{
background-color:yellow;
float: left;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	color: #000000;
}
#sidebar{
	background-color:#A9A9A9;
	height: 100%;
}